//base contains boilerplate used throughout an entire site. 
//This includes project-wide typography styles, and stylesheets that universally reset or normalize default CSS.

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

body
{
    font-family: 'Roboto', sans-serif;
}


footer
{
    h2#footer__title
    {
        font-family: 'Shrikhand', cursive;
        font-weight: 500;
    }
}

