//components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

// Boutons Index

button.reservation__btn 
{
    background-color: $secondary;
    margin: 20px 0px 20px 0px;
    border: 1px transparent;
    border-radius: 100px 100px 100px 100px;
    padding: 2%;
    color: $white;
}

button.fonctionnement__btn
{
    background-color: $grey-light;
    border: transparent;
    @include btn__border--radius ;
    @include box-shadow;
    padding: 10px;
    margin: 1% 2% 1% 2% ;
    font-size: 16px;
    position: relative;
    top: 0px;
    right: 0px;
    
}

div.fonctionnement__number
{
    background-color: $primary;
    color: $white;
    border-radius: 50%;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: 9px;
    left: -10px;
}


// Icons in Index

.fa-mobile-alt 
{
    color: $btn-darkgrey;

}

.fa-list-ul
{
    color: $btn-darkgrey;

}

.fa-store
{
    color: $btn-darkgrey;

}

