//components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

// Boutons Index

button.reservation__btn 
{
    background-color: $secondary;
    margin: 20px 0px 20px 0px;
    border: 1px transparent;
    border-radius: 100px 100px 100px 100px;
    padding: 2%;
    color: $white;
}

button.fonctionnement__btn
{
    background-color: $grey-light;
    border: transparent;
    @include btn__border--radius ;
    @include box-shadow;
    padding: 3%;
    margin: 1% 2% 1% 2% ;
}

// Icons in Index

.fa-mobile-alt 
{
    color: $btn-darkgrey;

}

.fa-list-ul
{
    color: $btn-darkgrey;

}

.fa-store
{
    color: $btn-darkgrey;

}

