//components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

// Links Index

a.index__links--invisible
{
    text-decoration: none;
    color: black;

        &:hover
        {
            text-decoration: none;
            color: black;
        }
}

a#footer__link
{
    text-decoration: none;
    color: $white;

        &:hover
        {
            text-decoration: none;
            color: $white;
        }
}

// Boutons Index

button.reservation__btn 
{
    background-image: linear-gradient(to bottom right, #ec73da, #a15bdc);
    margin: 20px 0px 20px 0px;
    border: 1px transparent;
    border-radius: 100px 100px 100px 100px;
    @include box-shadow;
    padding: 2%;
    color: $white;

        &:hover
        {
            @include box-shadow--big;
            background-image: linear-gradient(to bottom right, hsl(309, 70%, 71%), hsl(273, 60%, 63%));;
        }
}


// Icons in Index

.fa-mobile-alt 
{
    color: $btn-darkgrey;

}

.fa-list-ul
{
    color: $btn-darkgrey;

}

.fa-store
{
    color: $btn-darkgrey;

}

.fa-heart
{
    color:  black;
    
    &:hover
    {
        font-family: 'Font Awesome\ 5 Free';
        font-weight: 900;
        content: "\f004" ;

        background: -webkit-gradient(linear, left top, left bottom, from(#a15bdc), to(#ec73da));
        background-clip: text ;
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    } 

}

