//components are like "mini" layouts. Styles for small, reusable pieces of the site should reside here (think buttons, forms, profile pictures, etc.)

// Links Index

a.index__links--invisible
{
    text-decoration: none;
    color: black;

        &:hover
        {
            text-decoration: none;
            color: black;
        }
}

a#footer__link
{
    text-decoration: none;
    color: $white;

        &:hover
        {
            text-decoration: none;
            color: $white;
        }
}

// Boutons Index

button.reservation__btn 
{
    background-image: linear-gradient(to bottom right, #ec73da, #a15bdc);
    color: $white;

    margin: 20px 0px 20px 0px;
    border: 1px transparent;
    border-radius: 100px 100px 100px 100px;
    width: 55%;

    @include box-shadow;
    
        &:hover
        {
            @include box-shadow--big;
            background-image: linear-gradient(to bottom right, hsl(309, 70%, 71%), hsl(273, 60%, 63%));;
        }
}


// Icons in Index

.fa-map-marker-alt
{
    padding-right: 5%;
}

.fa-mobile-alt 
{
    color: $btn-darkgrey;
    @include icon__padding
}

.fa-list-ul
{
    color: $btn-darkgrey;
    @include icon__padding
}

.fa-store
{
    color: $btn-darkgrey;
    @include icon__padding
}

.fa-utensils
{
    margin-right: 10px;
}

.fa-hands-helping
{
    margin-right: 10px;
}

.fa-heart
{
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;

    transition: all 1200ms ease-in-out ;
    -webkit-transition: all 1200ms ease-in-out ;
    -moz-transition: all 1200ms ease-in-out ;
    -o-transition: all 1200ms ease-in-out ;    

    &:hover
    {
        -webkit-text-fill-color: $primary;
        -webkit-text-stroke-width: 0px;
        -webkit-text-stroke-color: transparent;

    } 

}

