
//Animation Coeur pour l'index

.restaurants__card--text
{

    .heart__container
    {
        position: relative;
        top: 0px;
        right: 0px;

        &--stack
        {
            position: absolute;
            top: -10px;
            right: 5px;

            .fa-heart
            {
                font-size: 24px;

                //animation du coeur

                z-index: 1;
                opacity: 100%;
                transition: all 1000ms ease-in-out; 
            }

            
        }

        &--stack2
        {
            position: absolute;
            top: -10px;
            right: 5px;

            .fa-heart
            {
                //style du coeur 

                background: -webkit-gradient(linear, left top, left bottom, from(#a15bdc), to(#ec73da));
                background-clip: text;
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                

                font-size: 24px;

                //animation du coeur
                z-index: 2; 
                opacity: 0%;
                transition: all 1000ms ease-in-out;
            }

            
        }
    }

    .heart__container:hover>.heart__container--stack .fa-heart
    {
        opacity: 0%;
    }

    .heart__container:hover>.heart__container--stack2 .fa-heart
    {
        opacity: 100%;
    }


}



//Animation Coeur pour les pages

.menu__container--Title
{
    .heart__container
    {
        position: relative;
        top: 0px;
        right: 0px;

        &--stack
        {
            position: absolute;
            top: -10px;
            right: 5px;

            .fa-heart
            {
                font-size: 24px;

                //animation du coeur

                z-index: 1;
                opacity: 100%;
                transition: all 1000ms ease-in-out; 
            }

            
        }

        &--stack2
        {
            position: absolute;
            top: -10px;
            right: 5px;

            .fa-heart
            {
                //style du coeur 

                background: -webkit-gradient(linear, left top, left bottom, from(#a15bdc), to(#ec73da));
                background-clip: text;
	            -webkit-background-clip: text;
	            -webkit-text-fill-color: transparent;
                

                font-size: 24px;

                //animation du coeur
                z-index: 2; 
                opacity: 0%;
                transition: all 1000ms ease-in-out;
            }

            
        }
    }

    .heart__container:hover>.heart__container--stack .fa-heart
    {
        opacity: 0%;
    }

    .heart__container:hover>.heart__container--stack2 .fa-heart
    {
        opacity: 100%;
    }

}