//layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)

body
{
    margin: 0px;
}

#globalContainer__index
{
    background-color: $white;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;

    h2 
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        @include index__text--margin;
    }

    h3 
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        @include index__text--margin;
    }

    p
    {
        @include index__text--margin;
    }
}

//Header section

header 
{
    display: flex;
    justify-content: center;
    @include header--padding;

        img 
        {
            object-fit: contain;
            max-width: 50% ;
        }
}

//Explore Section

#index__explore
{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: auto;
    text-align: center;

    .explore__location
    {
        background-color: $grey-dark;

        @include index--width;
        @include header--padding;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .explore__reservation
    {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

        background-color: $grey-light;

        @include index--width;
        padding: 5% 0% 5% 0%;
    }

    .explore__reservation > p, h2
    {
        padding: 0% 5% 0% 5%;
    }

}

//Fonctionnement Section

#index__fonctionnement
{
    display: flex;
    flex-direction: column;
    margin: 3% 3% 3% 3%;
    gap: 15px;

    .fonctionnement__btn
        {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;

            background-color: $grey-light;
            border: transparent;
            padding: 10px;
            margin: 1% 2% 1% 2% ;
            font-size: 16px;

            @include btn__border--radius ;
            @include box-shadow;
            
            
            position: relative;
            top: 0px;
            right: 0px;

            &:hover
            {
                background-color: #f5edff;
                @include box-shadow--big;
            }

            &:hover > i 
            {
                color: $primary;
            }
        }

    
        .fonctionnement__number
        {
            background-color: $primary;
            color: $white;
            border-radius: 50%;
            text-align: center;
            width: 20px;
            height: 20px;
            line-height: 20px;
            position: absolute;
            top: 9px;
            left: -10px;
        }
}


//Accueil - Restaurants 

#index__restaurants
{
    display: flex;
    flex-direction: column;
    background-color:$grey-light;
    gap: 15px;
    @include index--padding;

    .index__restaurants--container
    {
        display: flex;
        flex-direction: column;

        gap: 20px;
            
        .restaurants__card
        {
            display: flex;
            flex-direction: column;
            background-color: $white;
            border-radius: 5%;
            margin: 0px 2% 0px 2%;
            @include box-shadow;

            &:hover
            {
                @include box-shadow--big;
                background-color: lighten($color: $white, $amount: 3)
            }

            .restaurants__card--img
            {
                @include index--width;
                height: 200px;
                overflow: hidden;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5% 5% 0% 0%;
                    object-position: 50% 60%;
                }
            }

            .restaurants__card--text
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 3%;


                    .card__text--position
                    {
                        display: flex;
                        flex-direction: column;
                    }
                   
            }
        }

    }
}


// Footer Section

footer>div 
{
    background-color: $brown-footer;
    color: $white;
    padding-left: 3%;
    padding-bottom: 35px;
    padding-top: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;

}




// Tablet Version

@media only screen and (min-width: 768px)

{

    #globalContainer__index
        {
            width: 90%;
            font-size: 18px;
        }

    .index__restaurants--container
        {
            gap: 20px;
        }

    #index__fonctionnement
    {
        .fonctionnement__btn
            {
                font-size: 18px;
            }
    }
}

@media only screen and (min-width: 1040px)

{

    #globalContainer__index
    {
        width: 90%;
        font-size: 18px;
    }

    #index__fonctionnement
    {
        .fonctionnement__btn
            {
                font-size: 18px;

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
    }

    //Accueil - Restaurants 

    #index__restaurants
{
    display: flex;
    flex-direction: column;
    background-color:$grey-light;
    justify-content: center;
    align-items: center;
    gap: 15px;
    @include index--padding;

    .index__restaurants--container
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
        
            
        .restaurants__card
        {
            display: flex;
            flex-direction: column;
            background-color: $white;
            border-radius: 5%;
            margin: 0px 2% 0px 2%;
            @include box-shadow;

            &:hover
            {
                @include box-shadow--big;
                background-color: lighten($color: $white, $amount: 3)
            }

            .restaurants__card--img
            {
                width: 375px;    
                overflow: hidden;

                img
                {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5% 5% 0% 0%;
                    object-position: 50% 60%;
                }
            }

            .restaurants__card--text
            {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 3%;

                    .card__text--position
                    {
                        display: flex;
                        flex-direction: column;
                    }

            }
        }
        
    }
}

    footer>div 
    {


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;

    }
}

@media only screen and (min-width: 1600px)

{
    #globalContainer__index
    {
        width: 75%;
        font-size: 20px;
    }

    #index__fonctionnement
    {
        align-items: center;

        .fonctionnement__btn
            {
                font-size: 20px;
                width: 90%;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
    }

    #index__restaurants
    {
        display: flex;
        flex-direction: column;
        background-color:$grey-light;
        justify-content: center;
        align-items: center;
        gap: 40px;
        @include index--padding;

            .index__restaurants--container
        {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 60px;
            justify-content: center;

            .restaurants__card
            {
                .restaurants__card--img
                {
                    width: 500px;    
                    overflow: hidden;

                }
            }
        }
    }
}