//layout contains styles for different aspects of the site's structural layout (think of areas like nav bars, headers, footers, etc.)

#globalContainer__menu
{

    background-color: $white;
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;

    h2 
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        @include index__text--margin;
    }

    h3 
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        @include index__text--margin;
    }

    p
    {
        @include index__text--margin;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
}

.header__container
{
display: flex;
flex-direction: row;
justify-content: center;
position: relative;
top: 0px;
left: 0px;
margin-bottom: 2%;
}

.menu__container
{
    position: relative;
    top: 0px;
    left: 0px;

    &--IMG 
    {
        width: 100%;
        height: 320px;
        overflow: hidden;

            img
            {
                object-fit: cover;
                width: 100%;
                height: 100%;

            }
    }

    &--Title
    {
        border-radius: 25px 25px 0px 0px;
        background-color: $grey-light;
        padding-top: 20px;
        padding-bottom: 0px;
        border: 1px solid $grey-light;

        position: absolute;
        bottom: -1px;
        left: -1px;
        width: 100%;
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        h2#restaurant__title
        {
            font-family: 'Shrikhand', cursive;
        }
    }

}

.border__green
{
    width: 10%;
    height: 5px;
    margin: 3px 0px 15px 0px;
    background-color: $tertiary;
}

.reservation__btn--container
{
    display: flex;
    justify-content: center;
    background-color: $grey-light;
}

@media only screen and (min-width: 768px)
{
    #globalContainer__menu
    {
        width: 90%;
        font-size: 18px;
    }
}


@media only screen and (min-width: 1040px)
{
    #globalContainer__menu
    {
        width: 90%;
        font-size: 18px;
    }

    .menu__container
    {

        &--IMG 
        {
            width: 100%;
            height: 400px;
            overflow: hidden;

        }
    }
}


@media only screen and (min-width: 1600px)
{
        #globalContainer__menu
    {
        width: 85%;
        font-size: 20px;
    }

        .menu__container
    {

        &--IMG 
        {
            width: 100%;
            height: 450px;
            overflow: hidden;

        }
    }
}